  <tr>
    <td width="15%" style="word-wrap: break-word" id="{{Garname}}">{{Directory}}/{{Garname}}</td>
    <td width="10%" style="word-wrap: break-word"><a href="{{Home_URL}}">{{Name}}</a></td>
    <td width="70%">{{Blurb = "" ? Description : Blurb}}</td>
    <td width="5%">{{Version}}</td>
  </tr>
